<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <Properties>
        <!--配置property值，可以使用${}在后文使用，例如${SERVICE}可以访问值order_center-->
        <!--不同系统service不同，例如订单中心为order_center，其他可见日志输出规范或者使用手册附表-->
        <Property name="SERVICE">business-monitor-svc</Property>
        <!--日志目录，现网环境请配/data/logs/${SERVICE}-->
        <Property name="LOG_HOME">D:/log</Property>
        <Property name="BUSINESS">business</Property>
        <Property name="EXCEPTION">exception</Property>
        <Property name="SQL">sql</Property>
    </Properties>
    <appenders>
        <!--控制台输出-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!--业务日志，filename时当前写入日志的文件名，filePattern是每日文件切割后变更的文件名-->
        <RollingFile name="business_appender" fileName="${LOG_HOME}/${BUSINESS}.log" filePattern="${LOG_HOME}/${BUSINESS}_%d{yyyy-MM-dd}.log">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <!--按时间切割文件，interval为1表示一天切割一次-->
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingFile>

        <!--异常日志配置-->
        <RollingFile name="exception_appender" fileName="${LOG_HOME}/${EXCEPTION}.log" filePattern="${LOG_HOME}/${EXCEPTION}_%d{yyyy-MM-dd}.log">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingFile>

        <!--数据库日志配置-->
        <RollingFile name="sql_appender" fileName="${LOG_HOME}/${SQL}.log" filePattern="${LOG_HOME}/${SQL}_%d{yyyy-MM-dd}.log">
            <PatternLayout charset="UTF-8" pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingFile>

    </appenders>
    <loggers>
        <!--业务日志配置，appender-ref表示类com.chinaunicom.log.LoggerHelp按上面定义的business_appender进行日志输出，additivity为true表示同时在控制台输出日志-->
        <AsyncLogger name="com.chinaunicom.log.LoggerHelp" level="info" additivity="false">
            <appender-ref ref="business_appender"/>
        </AsyncLogger>

        <!--异常日志配置-->
        <AsyncLogger name="com.chinaunicom.log.ExceptionLoggerHelp" level="info" additivity="false">
            <appender-ref ref="exception_appender"/>
        </AsyncLogger>

        <!--数据库日志配置-->
        <AsyncLogger name="com.chinaunicom.log.SqlLoggerHelp" level="info" additivity="false">
            <appender-ref ref="sql_appender"/>
        </AsyncLogger>

        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>